.submit_form
{
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

.submit_form h1
{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 10px;
}

.submit_form p
{
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
}

.submit_form input
{
    border-radius: 10px;
    margin-top: 10px;
    font-size:30px;
    font-weight:lighter;
}

.remember_button
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
}

/* .submit_button
{
    background-color: #FF5656;
    color: black;
    font-size: 30px;
    border-radius: 25px;
    font-family: cursive;
    text-align: right;
    margin-left: 230px;
    border: none;
} */

.main_background
{
    height: 100vh;
    width: 200vh;
    background-color: #faf3e7;
}

.title
{
    background-color: rgb(235, 235, 255);
    justify-content: start;
    display: flex;
    height:100px;
    align-content: center;
    height: 90px;
}

.title img
{
    margin-top: 20px;
    margin-left: 20px;
    height: 70%;
    width: 250px;
}

.title h1
{
    color: rgb(65, 63, 63);
    font-style: italic;
    margin-top: 40px;
    text-align: center;
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main_menu
{
    background-color: #FFFBF0;
    height: 100vh;
    width: 300px;

    margin-top: -21px;
}

.main_menu button:not(:last-child)
{
    font-size: 25px;
    margin-top: 30px;
    margin-left: 20px;
    width: 250px;
    height: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    border-radius: 25px;
    border: none;
    background-color: #E5E5E5;

    cursor: pointer;
}

.button_go
{
    font-size: 25px;
    margin-top: 100%;
    background-color: #FFDBDB;
    border-radius: 25px;
    border-color: #FF5656;

    width: 150px;
    margin-left: 20px;
    height: 50px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;

    cursor: pointer;
}

.submit_button 
{
    margin-left: 230px;
    
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;

    color: #e74c3c;
    display: flex;

    font-size: 16px;
    font-weight: 400;
    font-weight: 700;

    line-height: 1;
    padding: 1.2em 2.8em;
    font-family: 'Montserrat', sans-serif;

    cursor: pointer;
}

.submit_button:hover, .submit_button:focus 
{
    color: #fff;
    outline: 0;
}

.submit_button 
{
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.submit_button:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
}
